<%# app/views/coordinates/index.html.erb %>

<div class="min-h-screen bg-white">
  <%
    # Reactコンポーネントに渡すデータを準備
    coordinates_data = @coordinates.map do |coordinate|
      {
        id: coordinate.id,
        date: coordinate.worn_on&.strftime('%Y/%m/%d') || '日付未登録',
        imageUrl: coordinate.coordinate_image.attached? ? rails_blob_path(coordinate.coordinate_image.variant(resize_to_limit: [300, 300]), only_path: true) : asset_path('no_image_square.jpg'),
        itemCount: coordinate.coordinated_items.count,
        showPath: coordinate_path(coordinate)
      }
    end

    coordinate_grid_props = {
      coordinates: coordinates_data
    }
  %>

  <%# Reactコンポーネントのマウントポイント %>
  <div id="coordinate-grid-container" data-props="<%= coordinate_grid_props.to_json %>"></div>
</div>

