<%# app/views/items/index.html.erb %>

<%
  # Reactコンポーネントに渡すデータを準備
  items_data = @items.map do |item|
    {
      id: item.id,
      name: item.name,
      imageUrl: item.item_image.attached? ? url_for(item.item_image.variant(resize_to_limit: [300, 300])) : nil,
      brand: {
        id: item.brand&.id,
        name: item.brand&.name || "未設定"
      },
      category: {
        id: item.category&.id,
        name: item.category&.name || "未設定"
      },
      season: {
        id: item.season&.id,
        name: item.season&.name || "未設定"
      },
      memo: item.memo,
      showPath: item_path(item)
    }
  end

  categories_data = Category.all.map do |category|
    {
      id: category.id,
      name: category.name
    }
  end

  item_grid_props = {
    items: items_data,
    categories: categories_data,
    currentCategory: params[:category_id],
    type: 'item'
  }
%>

<%# Reactコンポーネントのマウントポイント %>
<div id="item-grid-container" data-props="<%= item_grid_props.to_json %>"></div>

